<div class="bod">
<div class="col-md-10 col-sm-8 body-wrap">
<div class="body-container">
<div class="body-header">
        Production Report Summary
         <div class="add">
         	<% if  not admin?%>
		<%= link_to users_index_issuesForProduction_path,:class=> "btn btn-default",:title => 'Add',:rel => 'tooltip' do%><i class="fa fa-plus"></i><%end%>
<%end%>
	</div>
<br>
</div>
<div class="body-content">
<div class="table-container">
<div class="header">
    List of Production Reports
<div class="search"><%= form_tag(:action => "index_productionReport", :method => 'get', id:"search-order") do %>
   <p> <span ><%= text_field_tag :search, params[:search],:placeholder=>"Order No /  Slip No",:class=>"fa fa-search"%></span>
   <div class="bbtn">
    <%= submit_tag "Search",:class=>"btn btn-info btn-sm"%>
     <%= link_to "clear" ,users_index_productionReport_path,:class=>"btn btn-info btn-sm"%>
    </div></p>
   <% end %></div>
</div>
<table class="table">
    <thead>
<tr>
<th>Sl.No</th>
<th>Order No</th>
<th>Issue Date</th>
<th>Issue Slip No</th>
<th>Party</th>
<th>Shift</th>
<th>Machine Name</th>
<th>Finished Goods Name:</th>
<!--%if factory?%>
<th>Created by</th>
<th>Updated by</th>
<-th>Created at</th>
<th>Updated at</th->
<-%end%-->
<th colspan="3"><center>Action</center></th>
</tr>
</thead>

<% if @production_report.blank? then %>
<table><th>No records to display</th></table>

<% else %>



<ul id = "ProductionReports" >
<%t=0%>
<% @production_report.each do |i| %>
<!--% if ProductionReport.exists?(:issue_id => i.id)%-->
<tbody>
<tr>
<%t=t+1%>
<td><%= t %></td>
<td><%= i.order_no %></td>
<%date= i.issue_date %>
<%dat="#{date[3..4]}/#{date[0..1]}/#{date[6..9]}"%>
<td><%=dat%></td>
<td><%= i.issue_slip_no%></td>
<td><%= i.party %></td>
<td><%= i.shift %></td>
<td><%= i.machine_no %></td>
<td><%= i.finished_goods_name%></td>
<% if admin? %>
<td><center><%= link_to users_show_productionReport_path(:id => i.id), class: "btn btn-default",:title => 'Show' do%>
<i class="fa fa-eye"></i><%end%></center></td>
<%end%>
<% if factory? %>
<!--td><-%= i.created_by %-></td->
<td><-%= i.updated_by %></td-->
<!--td><div class="fot"><!%= i.created_at.strftime("%m/%d/%Y")%></div></td>
<td><div class="fot"><!%= i.updated_at.strftime("%m/%d/%Y")%></div></td-->
<td><%= link_to users_show_productionReport_path(:id => i.id), class: "btn btn-default",:title => 'Show' do%>
<i class="fa fa-eye"></i><%end%>
</td>
<td><%= link_to users_edit_productionReport_path(:id => i.id), class: "btn btn-default",:title => 'Edit' do%>
<i class="fa fa-pencil"></i><%end%>
</td>
<td><%= link_to image_tag("/assets/trash1.png", height: '20', width: '20',:class=>"img-circle",:title => 'Delete', :rel => 'tooltip',:onclick=>"if (confirm('Are you sure!!!')) commentDelete(1); return false"),{:action => 'delete_productionReport', :id => i.id }%>
</td>
<%end%>


<% if operator?%>

<td><center><%= link_to users_show_productionReport_path(:id => i.id), class: "btn btn-default",:title => 'Show' do%>
<i class="fa fa-eye"></i></center><%end%>
</td>
<%unless i.updated_at <(Time.now- 7.day)%>
<td><%= link_to users_edit_productionReport_path(:id => i.id), class: "btn btn-default",:title => 'Edit' do%>
<i class="fa fa-pencil-square-o"></i><%end%>
</td>
<td><%= link_to image_tag("/assets/trash1.png", height: '20', width: '20',:class=>"img-circle",:title => 'Remove', :rel => 'tooltip',:onclick=>"if (confirm('Are you sure!!!')) commentDelete(1); return false"),{:action => 'delete_labour', :id => i.id }%>

</td>
<!--%end%-->
<%end%>
<%end%>
</tr>
<%end%>
</ul>
</tbody>
</table>
<%end%>
</div>
</div>
<div class="digg_pagination" align="right">
    <%= will_paginate @production_report, :container => false %>
</div>
</div>

</div>

