<div class="bod">
  <div class="col-md-10 col-sm-8 body-wrap">
<div class="set">
<div class="body-container">
<div class="body-header">
Mould Number
<div class="fact"><%= form_tag(:action => "mould_new", :method => 'get', id:"search-order") do %>
   <p>
   <span ><%= text_field_tag :search, params[:search],:placeholder=>"Mould No",:class=>"fa fa-search"%></span>
   <div class="fact1">
    <%= submit_tag "Search",:class=>"btn btn-info btn-sm"%>
<%= link_to "clear" ,users_mould_new_path,:class=>"btn btn-info btn-sm"%>
</div>   </p>
   <% end %></div>
</div>
<div class="body-content">
<div class="table-container">
<div class="header">
    List of Mould Number
</div>
<table class="table">
<thead>
<tr>
<th>Mould No</th>
<th>Action</th>
</tr>
</thead>
<%= form_for([@mould_no], validate: true, :url=>{:controller=>"users", :action => "mould_create"}) do |i|%>
<tbody>
<tr class="odd"><td><%=i.text_field:mould_no_list,:required => true%></td>
<td align="center"><%= i.submit "Add",:class=>"btn btn-info"%>
 <%end%></td></tr>

<% @mould_no1.each do |i| %>
<tr>
<td><div class="fot"><%= i.mould_no_list%></div></td>
<td><%= link_to image_tag("/assets/trash1.png", height: '20', width: '20',:class=>"img-circle",:title => 'Delete', :rel => 'tooltip',:onclick=>"if (confirm('Are you sure!!!')) commentDelete(1); return false"),{:action => 'mould_delete', :id => i.id }%></td>

</tr>
</tbody>
<%end%>
</table>
</div>
</div>
<div class="digg_pagination" align="right">
    <%= will_paginate  @mould_no1, :container => false %>
  </div>
</div>
</div
</div>
