<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sl.No </Data></Cell>
        <Cell><Data ss:Type="String">Mould No </Data></Cell>
       <Cell><Data ss:Type="String">Issue Date </Data></Cell>
       <Cell><Data ss:Type="String">No of Cavity </Data></Cell>
       <Cell><Data ss:Type="String">Total No Item Produced </Data></Cell>
      <Cell><Data ss:Type="String">Total No of Shots </Data></Cell>
    </Row>
   <%t=0%>
        <%$mou.each do|i|%>
      <%t=t+1%>
        <Row>
        <Cell><Data ss:Type="String"><%=t%></Data></Cell>
        <Cell><Data ss:Type="String"><%=i.mould %> </Data></Cell>
        <Cell><Data ss:Type="String"><%=i.issue_date %> </Data></Cell>
        <%@n=i.no_of_cavity%>
	<Cell><Data ss:Type="String"><%=@n%> </Data></Cell>
	<%@m=i.total_no_of_items_produced%>
	<Cell><Data ss:Type="String"><%=@m %> </Data></Cell>
	<%@a=(@m.to_f/@n.to_f).round(3)%>
	<Cell><Data ss:Type="String"><%=@a%> </Data></Cell>
       </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>
