<div class="bod">
  <div class="col-md-10 col-sm-8 body-wrap">
<div class="set">
<div class="body-container">
<div class="body-header">
Nature of Works
<div class="fact"><%= form_tag(:action => "nature_new", :method => 'get', id:"search-order") do %>
   <p>
   <span ><%= text_field_tag :search, params[:search],:placeholder=>"Nature Work",:class=>"fa fa-search"%></span>
   <div class="fact1">
    <%= submit_tag "Search",:class=>"btn btn-info btn-sm"%>
 <%= link_to "clear" ,users_nature_new_path,:class=>"btn btn-info btn-sm"%>
</div></p>
   <% end %></div>
</div>
<div class="body-content">
<div class="table-container">
<div class="header">
    List of Nature of Works
</div>
<table class="table">
    <thead>
<tr>
<th>Nature Work</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<%= form_for([@nature_of_work], validate: true, :url=>{:controller=>"users", :action => "nature_create"}) do |i|%>
<tr class="odd"><td><%=i.text_field:nature_of_work_list,:required => true%>
<td align="center"><%= i.submit "Add",:class=>"btn btn-info"%>
 <%end%></td></tr>
<% @nature_of_work1.each do |i| %>
<tr>
<td><div class="fot"><%= i.nature_of_work_list%></div></td>
<td><%= link_to image_tag("/assets/trash1.png", height: '20', width: '20',:class=>"img-circle",:title => 'Delete', :rel => 'tooltip',:onclick=>"if (confirm('Are you sure!!!')) commentDelete(1); return false"),{:action => 'nature_delete', :id => i.id }%></td>
</tr>
<%end%>
</tbody>
</table>
<div>
</div>
</div>
</div>
<div class="digg_pagination" align="right">
    <%= will_paginate  @nature_of_work1, :container => false %>
  </div>
</div>
