<div class = "bod">
  <div class="col-md-10 col-sm-8 body-wrap">
              <div class="body-container">
                  <div class="body-header">
                      Production Report
<div class="add"><%= link_to users_report_production_path, class: "btn btn-default", :title => 'Back', :rel =>'tooltip' do%>
<i class="fa fa-arrow-left"></i><%end%></div>

                    <%if admin? and not @prod.blank?%>
<div class="down"><%= link_to users_product_report_path(format: "xls"),:class=>"btn btn-info btn-sm" do%>
<i class="fa fa-arrow-circle-down">Download</i><%end%></div><br>
<%end%></div>
                    <div class="body-content">
                       <div class="table-container">
      <table class="table">                        
 <thead>
 <tr>                             	
<%$prhd.map do|i|%>
<th><%=i%></th>
<%end%>
</tr>
</thead>

<% if @prod.blank? then %>
<table><th>No records to display</th></table>

<% else %>
<tbody>
<%t=0%>

<%@prod.map do|k|%>
<tr>
	<%if ProductionReport.where(:issue_id=>k.id).any?%>
<%$prfd.map do|i|%>

<td>
<!--% if Issue.column_names.include?(i)%-->
<%if Issue.column_names.include?(i) %>
<%= Issue.where(:id=>k.id).maximum(i.to_sym)%>
<%else%>
<%= ProductionReport.where(:issue_id=> k.id).maximum(i.to_sym)%>
<%end%>

</td>
<%end%>
<%end%>
<%end%>
</tbody>
</table>
<%end%>
</div>
</div>
