	<div class="bod">
  <div class="col-md-10 col-sm-8 body-wrap">
<div class="body-container">
<div class="body-header">
Yield and Cost
</div>
<div class="body-content">
<div class="table-container">
<div class="header">
    <%= form_for :labour, :url=>{ :controller => "users", :action => "yield_cost_report",:method => "get"} do |f| %>
 <center>
  <table ><tr style=border-color:#252525>
  <td style=border-color:#252525 ><%= f.label :initial_date,"From",:style=>"Color:white;" %></td>
  <td style=border-color:#252525><%= f.text_field :intial_date,:id => "txtFrom",:required => true,:class=>"txt" %><td style=border-color:#252525></td></td>
  <td style=border-color:#252525><%= f.label :final_date,"To",:style=>"Color:white;" %></td>
  <td style=border-color:#252525><%= f.text_field :final_date,:id=>"txtTo",:required => true,:class=>"txt" %></td>
  <td style=border-color:#252525><div style="margin-top:-9px;"><%= f.submit "Submit",:class=>"btn btn-info" %></div></td>
  </tr>
 </table>
</div>
<% end %>
</div>
</div>
</div>
</div>

