<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Machine</Data></Cell>
        <Cell><Data ss:Type="String">Product Name</Data></Cell>
        <Cell><Data ss:Type="String">Mould</Data></Cell>
        <Cell><Data ss:Type="String">Raw Material</Data></Cell>
        <Cell><Data ss:Type="String">Product Weight</Data></Cell>
        <Cell><Data ss:Type="String">Actual Qty</Data></Cell>
        <Cell><Data ss:Type="String">Rejected Qty</Data></Cell>
        <Cell><Data ss:Type="String">Wastage Qty</Data></Cell>
        <Cell><Data ss:Type="String">Wastage</Data></Cell>
        <Cell><Data ss:Type="String">Cost Per Kg</Data></Cell>
        <Cell><Data ss:Type="String">Cost Pc</Data></Cell>
        <Cell><Data ss:Type="String">Yield %</Data></Cell>
   </Row>
       <% $arr.each do |i| %>
       <Row>
        <Cell><Data ss:Type="String"><%= i[1]%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[2]%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[3]%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[4] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[6] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[7] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[8] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[10] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[11] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[12] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[13] %></Data></Cell>
        <%ye =((i[7].to_f/(i[7].to_f+i[8].to_f+i[9].to_f))*100).round(2)%>
	<Cell><Data ss:Type="String"><%= ye%></Data></Cell>
        </Row>
       <%end%>
    </Table>
  </Worksheet>
</Workbook>

