<div class = "bod">
  <div class="col-md-10 col-sm-8 body-wrap">
              <div class="body-container">
                  <div class="body-header">
                      Yield and Cost
<div class="add"><%= link_to users_yield_cost_path, class: "btn btn-default", :title => 'Back', :rel =>'tooltip' do%>
<i class="fa fa-arrow-left"></i><%end%></div>

                     <%if admin? and not @arr.blank?%>
<div class="down"><%= link_to users_yield_cost_report_xls_path(format: "xls"),:class=>"btn btn-info btn-sm" do%>
<i class="fa fa-arrow-circle-down">Download</i><%end%></div><br>
<%end%></div>
<div class="body-content">
<div class="table-container">
      <table class="table">
 <thead>
 <tr>
<th>Machine</th>
<th>Product name</th>
<th>Mould</th>
<th>Raw Material</th>
<th>Product Weight</th>
<th>Actual qty</th>
<th>Rejected qty</th>
<th>Wastage Qty</th>
<th>Wastage %</th>
<th>Cost per Kg</th>
<th>Cost Pc</th>
<th>Yield %</th>
</tr>
</thead>
 
<% if @arr.blank? then %>
<table><th>No records to display</th></table>

<% else %>
<ul id= "Issues">

<% $arr = @arr%>
<% @arr.each do |i| %>
<tr class="odd">
<td><%= i[1] %></td>
<td><%= i[2] %></td>
<td><%= i[3] %></td>
<td><%= i[4] %></td>
<td><%= i[6] %></td>
<td><%= i[7] %></td>
<td><%= i[8] %></td>
<td><%= i[10] %></td>
<td><%= i[11] %></td>
<td><%= i[12] %></td>
<td><%= i[13] %></td>
<%ye =((i[7].to_f/(i[7].to_f+i[8].to_f+i[9].to_f))*100).round(2)%>
<td><%= ye%></td>
</tr>

<% end %>
</table>
<%end%>
</div>
</div>
</div>

