
<html>
<head>
  <title>White Plaast</title>
  <link href="/assets/Wp-l.png" rel="shortcut icon" type="image/x-icon"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
        type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
        rel="Stylesheet" type="text/css" />


</head>


    <script type="text/javascript">
$(function () {
    $("#txtFrom").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() );
            $("#txtTo").datepicker("option", "minDate", dt);
        }
    });
    $("#txtTo").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate()  );
            $("#txtFrom").datepicker("option", "maxDate", dt);
        }
    });
});
</script>



<script>
$(document).ready(function () {
        $('label.tree-toggler').click(function () {
                $(this).parent().children('ul.tree').toggle(300);
        });
});

</script>


<script type="text/javascript">
$(function () {
    $("#txtFrom").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() );
            $("#txtTo").datepicker("option", "minDate", dt);
        }
    });
    $("#txtTo").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate()  );
            $("#txtFrom").datepicker("option", "maxDate", dt);
        }
    });
});
</script>

<script>
    function sum() {
      var txtFirstNumberValue = document.getElementById('txt1').value;
      var txtSecondNumberValue = document.getElementById('txt2').value;

      var txtThreeNumberValue = document.getElementById('txt3').value;
      var txtSixNumberValue = document.getElementById('txt6').value;

       var txtFourNumberValue = document.getElementById('txt4').value;

      var result = parseFloat(txtFirstNumberValue) * parseFloat(txtSecondNumberValue);
      var result1 = parseFloat(txtThreeNumberValue) * parseFloat(txtFourNumberValue);
      var result2 =  parseFloat(txtSixNumberValue) + parseFloat(txtFourNumberValue);
          if (!isNaN(result))  {
         document.getElementById('txt4').value = (result.toFixed(2));
     }
      if (!isNaN(result1))  {
         document.getElementById('txt6').value = (result1.toFixed(4));
     }
             if (!isNaN(result2))  {
      document.getElementById('txt5').value = (result2.toFixed(4));
}
}
</script>


<script>
    function sub() {
      var txtFirstNumberValue = document.getElementById('txt1').value;
      var txtSecondNumberValue = document.getElementById('txt2').value;
      var txtThreeNumberValue = document.getElementById('txt3').value;

      var txtFourNumberValue = document.getElementById('txt4').value;
      var txtFiveNumberValue = document.getElementById('txt5').value;
      var txtSixNumberValue = document.getElementById('txt6').value;

      var txtSevNumberValue = document.getElementById('txt7').value;
      var txtEigNumberValue = document.getElementById('txt8').value;
      var txtNignNumberValue = document.getElementById('txt9').value;
       var txtTenNumberValue = document.getElementById('txt10').value;
      var txtTwNumberValue = document.getElementById('txt12').value;
       var txtElNumberValue = document.getElementById('txt11').value;
       var txtFtnNumberValue = document.getElementById('txt14').value;
       var txtFitnNumberValue = document.getElementById('txt15').value;
        var txtStnNumberValue = document.getElementById('txt16').value;
       var txtSetnNumberValue = document.getElementById('txt17').value;
      var txtEtnNumberValue = document.getElementById('txt18').value;
       var txtNtnNumberValue = document.getElementById('txt19').value;
      var txtTteNumberValue = document.getElementById('txt20').value;
       var txtTtnNumberValue = document.getElementById('txt21').value;
      var txtTtwNumberValue = document.getElementById('txt22').value;
      var txtTthrNumberValue = document.getElementById('txt23').value;
      var txtTtfoNumberValue = document.getElementById('txt24').value;
      var txtTtfiNumberValue = document.getElementById('txt25').value;
      
      var txtTtsevNumberValue = document.getElementById('txt27').value;
      var txtTteiNumberValue = document.getElementById('txt28').value;
       var txtTtniNumberValue = document.getElementById('txt29').value;
      var txtTtteNumberValue = document.getElementById('txt30').value; 
          var txtTtteoNumberValue = document.getElementById('txt31').value;

      var result = parseFloat(txtFirstNumberValue) - parseFloat(txtSecondNumberValue);        
      var result1 = parseFloat(txtFourNumberValue) - parseFloat(txtFiveNumberValue);
      var result2 = parseFloat(txtSevNumberValue) - parseFloat(txtEigNumberValue);
      var result3 = (parseFloat(txtThreeNumberValue) + parseFloat(txtSixNumberValue) + parseFloat(txtNignNumberValue)) - parseFloat(txtTenNumberValue);     
       var result4 = parseFloat(txtElNumberValue) - parseFloat(txtTwNumberValue);
        var result5 = parseFloat(txtThreeNumberValue) * parseFloat(txtFtnNumberValue);
       var result6 = parseFloat(txtSixNumberValue) * parseFloat(txtStnNumberValue);
       var result7 = parseFloat(txtNignNumberValue) * parseFloat(txtEtnNumberValue);
       var result8 = parseFloat(txtTteNumberValue) - parseFloat(txtTtnNumberValue);
    var result9 = parseFloat(txtThreeNumberValue) + parseFloat(txtSixNumberValue) + parseFloat(txtNignNumberValue) + parseFloat(txtTtwNumberValue) + parseFloat(txtTtniNumberValue) ;
     var result10 = parseFloat(txtTtfoNumberValue) * parseFloat(txtTtwNumberValue);
      var result11 = parseFloat(txtFitnNumberValue) + parseFloat(txtSetnNumberValue) + parseFloat(txtNtnNumberValue) + parseFloat(txtTtfiNumberValue) + parseFloat(txtTtteoNumberValue);     
   
      var result12 = parseFloat(txtTtsevNumberValue) - parseFloat(txtTteiNumberValue);        
       var result13 = parseFloat(txtTtteNumberValue) * parseFloat(txtTtniNumberValue);

             if (!isNaN(result))  {
         document.getElementById('txt3').value = (result.toFixed(4));
     }
            if (!isNaN(result1))  {
         document.getElementById('txt6').value = (result1.toFixed(4));
     }
            if (!isNaN(result2))  {
         document.getElementById('txt9').value = (result2.toFixed(4));
     }
         if (!isNaN(result3))  {
         document.getElementById('txt11').value = (result3.toFixed(4));
     }
         if (!isNaN(result4))  {
         document.getElementById('txt13').value = (result4.toFixed(4));
     }
        if (!isNaN(result5))  {
         document.getElementById('txt15').value = (result5.toFixed(4));
     }
         if (!isNaN(result6))  {
         document.getElementById('txt17').value = (result6.toFixed(4));
     }
         if (!isNaN(result7))  {
         document.getElementById('txt19').value = (result7.toFixed(4));
     }
         if (!isNaN(result8))  {
         document.getElementById('txt22').value = (result8.toFixed(4));
     }
          if (!isNaN(result9))  {
         document.getElementById('txt23').value = (result9.toFixed(3));
     }
         if (!isNaN(result10))  {
         document.getElementById('txt25').value = (result10.toFixed(4));
     }
         if (!isNaN(result11))  {
         document.getElementById('txt26').value = (result11.toFixed(4));
     }
         if (!isNaN(result12))  {
         document.getElementById('txt29').value = (result12.toFixed(4));
     }
       if (!isNaN(result13))  {
         document.getElementById('txt31').value = (result13.toFixed(4));
     }
}
</script>


<script>
    function man() {
      var txtFirstNumberValue = document.getElementById('txt1').value;
      var txtSecondNumberValue = document.getElementById('txt2').value;
      var txtThreeNumberValue = document.getElementById('txt3').value;
       var txtFourNumberValue = document.getElementById('txt4').value;
       var txtFiveNumberValue = document.getElementById('txt5').value;
       var txtSevNumberValue = document.getElementById('txt7').value;
       var txtEtNumberValue = document.getElementById('txt8').value;
       var txtTnNumberValue = document.getElementById('txt10').value;
       var txtEonNumberValue = document.getElementById('txt11').value;
      
       var txtNiNumberValue = document.getElementById('txt9').value;
       var txtFtnNumberValue = document.getElementById('txt14').value;
       var txtTfiveNumberValue = document.getElementById('txt15').value;

       var result = parseFloat(txtFirstNumberValue) * parseFloat(txtSecondNumberValue);
       var result1 = parseFloat(txtFirstNumberValue) * parseFloat(txtThreeNumberValue);
       var result2 = parseFloat(txtFiveNumberValue) - parseFloat(txtFourNumberValue);
       var result3 = parseFloat(txtSecondNumberValue);
       var result4 = parseFloat(txtEtNumberValue) * parseFloat(txtSevNumberValue);
       var result5 = (parseFloat(txtTnNumberValue) / parseFloat(txtFourNumberValue)) * parseFloat(txtEonNumberValue);
       var result6 = (parseFloat(txtTnNumberValue) / parseFloat(txtFirstNumberValue)) * parseFloat(txtEonNumberValue);
       var result7 = parseFloat(txtFtnNumberValue) - (parseFloat(txtFourNumberValue) + parseFloat(txtNiNumberValue) + parseFloat(txtTfiveNumberValue));
       var result8 = (parseFloat(txtFourNumberValue) / parseFloat(txtFtnNumberValue)) * 100;
         
    if (!isNaN(result))  {
         document.getElementById('txt4').value = (result.toFixed(4));
     }
      if (!isNaN(result1))  {
       document.getElementById('txt5').value = (result1.toFixed(4));
    }
      if (!isNaN(result2))  {
       document.getElementById('txt6').value = (result2.toFixed(4));
    }
      if (!isNaN(result3))  {
       document.getElementById('txt7').value = (result3.toFixed(4));
    }
      if (!isNaN(result4))  {
       document.getElementById('txt9').value = (result4.toFixed(4));
    }
      if (!isNaN(result5))  {
       document.getElementById('txt12').value = (result5.toFixed(4));
    }
     if (!isNaN(result6))  {
       document.getElementById('txt13').value = (result6.toFixed(4));
    }
     if (!isNaN(result7))  {
       document.getElementById('txt16').value = (result7.toFixed(4));
   }
    if (!isNaN(result8))  {
       document.getElementById('txt17').value = (result8.toFixed(4));
   }
}
</script>

<script>
    function div() {
      var txtFrtNumberValue = document.getElementById('t1').value;
      var txtSecNumberValue = document.getElementById('t2').value;
      var txtForNumberValue = document.getElementById('t4').value;
      var txtFiveNumberValue = document.getElementById('t5').value;
       var txtSixNumberValue = document.getElementById('t6').value;
      var txtSevNumberValue = document.getElementById('t7').value;
      var txtEtNumberValue = document.getElementById('t8').value;
      var txtElNumberValue = document.getElementById('t11').value;
       var txtThreeNumberValue = document.getElementById('t3').value;

       var result = parseFloat(txtFrtNumberValue) * parseFloat(txtSecNumberValue);
       var result1 =(3600 / parseFloat(txtForNumberValue)) * parseFloat(txtSixNumberValue) * parseFloat(txtSevNumberValue);
        var result2 = parseFloat(txtFiveNumberValue) - parseFloat(txtEtNumberValue);
        var result3 = (parseFloat(txtEtNumberValue) / parseFloat(txtFiveNumberValue) * 100);
        var result4 = parseFloat(txtElNumberValue) * 60;
        var result5 = parseFloat(txtThreeNumberValue) / parseFloat(txtEtNumberValue);
      if (!isNaN(result))  {
         document.getElementById('t3').value = (result.toFixed(3));
     }
        if (!isNaN(result1))  {
         document.getElementById('t5').value = (result1.toFixed(4));
     }
       if (!isNaN(result2))  {
         document.getElementById('t9').value = (result2.toFixed(4));
     }
       if (!isNaN(result3))  {
         document.getElementById('t10').value = (result3.toFixed(4));
     }
       if (!isNaN(result4))  {
         document.getElementById('t12').value = (result4);
     }
    if (!isNaN(result5))  {
         document.getElementById('t13').value = (result5.toFixed(1));
     }
}
</script>


<script>
    function div() {
      var txtFirstNumberValue = document.getElementById('txt1').value;
      var txtSecondNumberValue = document.getElementById('txt2').value;
      var txtThreeNumberValue = document.getElementById('txt3').value;
       var txtFiveNumberValue = document.getElementById('txt5').value;
      var txtFourNumberValue = document.getElementById('txt4').value;
      var result = parseFloat(txtFirstNumberValue) /  parseFloat(txtSecondNumberValue);
       var result1 = parseFloat(txtSecondNumberValue) -  parseFloat(txtThreeNumberValue);
        var result2 = parseFloat(txtFiveNumberValue) *  parseFloat(txtFourNumberValue);
          if (!isNaN(result))  {
         document.getElementById('txt4').value = (result.toFixed(4));
     }
          if (!isNaN(result1))  {
         document.getElementById('txt5').value = (result1);
     }
          if (!isNaN(result2))  {
         document.getElementById('txt6').value = (result2);
     }
}
</script>

<script>
    function ven() {
      var txtFirstNumberValue = document.getElementById('txt1').value;
      var txtSecondNumberValue = document.getElementById('txt2').value;
      var result = parseFloat(txtFirstNumberValue) -  parseFloat(txtSecondNumberValue);
      if (!isNaN(result))  {
         document.getElementById('txt4').value = (result.toFixed(4));
     }
}
</script>

<script language="JavaScript">
        function selectAll(source) {
                checkboxes = document.getElementsByName('subject[]');
                for(var i in checkboxes)
                        checkboxes[i].checked = source.checked;
        }
</script>
<script language="javascript">

 function validate()

 { var chks = document.getElementsByName('subject[]');

 var checkCount = 0;

 for (var i = 0; i < chks.length; i++)

 { if (chks[i].checked)

 { checkCount++;

 } }

 if (checkCount < 1)

 { alert("Please Select at least one.");

 return false; }
 else {

 return true; } }

 </script>


<body>
<% if not session[:user_id].blank?%>
<%= render "layouts/header"%>
<!--%= render "layouts/footer"%-->
<div data-pjax-container>
<!--% if not session[:user_id].blank?%-->
  <!--%= link_to "Logout",users_logout_path%-->
<!--% end%-->
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-success" %>
  <% end %>

<%end%>
  <%= yield %>
</div>




</body>

</html>
